{% extends "base.html" %}

{% load my_filter %}

{% block content %}
<div class="row mb-3">
    <div class="col-6">
        <a class="btn btn-primary">등록하기</a>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <!-- 검색 -->
        <form id="searchForm" method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="keyword" placeholder="검색어">
                <button type="submit" class="btn btn-primary">검색</button>
            </div>
        </form>
        <!--// 검색 -->
    </div>
</div>




<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-primary">
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
    </thead>
    <tbody>
    {% if board_list %}
        {% for board in board_list %}
            <tr>
                <!-- 번호 = 전체개수 - 시작인덱스 - 현재인덱스 + 1 -->
                <td>{{ board_list.paginator.count|sub:board_list.start_index|sub:forloop.counter0|add:1 }}</td>
                <td>{{ board.title }}</td>
                <td>{{ board.created_at }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="2">내용이 없습니다.</td>
        </tr>
    {% endif %}
    </tbody>
</table>

<!-- 페이징 -->
<nav>
    <ul class="pagination">
        <!-- 처음 -->
        {% if board_list.number > 4 %}
        <li class="page-item">
            <a class="page-link" href="?page=1">처음</a>
        </li>
        {% endif %}
        <!--// 처음 -->

        <!-- 이전 페이지 -->
        {% if board_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ board_list.previous_page_number }}">이전</a>
            </li>
        {% endif %}
        <!--// 이전 페이지 -->
        
        <!-- 페이지 리스트 -->
        {% for page_number in board_list.paginator.page_range %}
            {% if page_number >= board_list.number|add:-3 and page_number <= board_list.number|add:3 %}
                {% if page_number == board_list.number %}
                <li class="page-item active">
                    <a class="page-link">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <!--// 페이지 리스트 -->
      
        <!-- 다음 페이지 -->
        {% if board_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ board_list.next_page_number }}">다음</a>
            </li>
        {% endif %}
        <!--// 다음 페이지 -->

        <!-- 마지막 -->
        {% if board_list.number < board_list.paginator.num_pages|add:-3 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ board_list.paginator.num_pages }}">마지막</a>
        </li>
        <!--// 마지막 -->
        {% endif %}
    </ul>
</nav>
<!-- // 페이징 -->
{% endblock %}