{% extends 'base.html' %}

{% block content %}

{% if error_message %}
<div class="alert alert-danger" role="alert">{{ error_message }}</div>
{% endif %}

{% if message %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endif %}

<form id="loginForm" action="{% url 'common:login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">로그인</button>
    <a href="{% url 'common:find_username' %}" class="btn btn-success">아이디 찾기</a>
</form>
{% endblock %}

{% block script %}
<script>
    $('#loginForm').on('submit', function() {
        let username = $('#username');
        let password = $('#password');

        if (username.val() == '') {
            alert('아이디를 입력하세요.');
            username.focus();
            return false;
        } else if (password.val() == '') {
            alert('비밀번호를 입력하세요.');
            password.focus();
            return false;
        }
    });
</script>
{% endblock %}