{% extends 'base.html' %}

{% block content %}


<!-- 정보 수정 -->
<div class="col-md-4">
    {% if profile_error_message %}
    <div class="alert alert-danger" role="alert">{{ profile_error_message }}</div>
    {% endif %}

    {% if profile_success_message %}
    <div class="alert alert-success" role="alert">{{ profile_success_message }}</div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            정보 수정
        </div>
        <form id="profileForm" action="{% url 'common:profile' %}" method="post">
            {% csrf_token %}
            <div class="card-body">
                {{ profile_form.as_div }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">정보 수정</button>
            </div>
        </form>
    </div>
</div>
<!-- 정보 수정 -->

{% endblock %}

{% block script %}
<script>
    $("#profileForm").validate({
        rules: {
            first_name: {
                required: true,
                minlength: 2,
                maxlength: 4,
            },
            email: {
                required: true,
                email: true,
            },
        },
        messages: {
            first_name: {
                required: "필수 입력입니다.",
                minlength: jQuery.validator.format("2글자 이상, 4글자 이하로 입력해주세요."),
                maxlength: jQuery.validator.format("2글자 이상, 4글자 이하로 입력해주세요."),
            },
            email: {
                required: "필수 입력입니다.",
                email: "올바른 형식의 이메일을 입력하세요."
            }
        },
        errorClass: "mt-2 text-danger",
        highlight: function(element) {
            $(element).addClass("is-invalid").removeClass("is-valid");
        },
        unhighlight: function(element) {
            $(element).addClass("is-valid").removeClass("is-invalid");
        },
        submitHandler: function (form) {
            form.submit();
        }  
    });
</script>
{% endblock %}