{% extends 'base.html' %}

{% block content %}

<div class="row">
    <!-- 정보 수정 -->
    <div class="col-md-4">
        {% if error_message %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
        {% endif %}

        {% if success_message %}
        <div class="alert alert-success" role="alert">{{ success_message }}</div>
        {% endif %}

        <div class="card">
            <div class="card-header">
                정보 수정
            </div>
            <form id="loginForm" action="{% url 'common:login' %}" method="post">
                {% csrf_token %}
                <div class="card-body">
                    {{ form.as_div }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">로그인</button>
                    <a href="{% url 'common:find_username' %}" class="btn btn-success">정보 수정</a>
                </div>
            </form>
        </div>
    </div>
    <!-- 정보 수정 -->

    <!-- 비밀번호 수정 -->
    <div class="col-md-4">
        {% if error_message %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
        {% endif %}

        {% if success_message %}
        <div class="alert alert-success" role="alert">{{ success_message }}</div>
        {% endif %}

        <div class="card">
            <div class="card-header">
                정보 수정
            </div>
            <form id="loginForm" action="{% url 'common:login' %}" method="post">
                {% csrf_token %}
                <div class="card-body">
                    {{ form.as_div }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">로그인</button>
                    <a href="{% url 'common:find_username' %}" class="btn btn-success">정보 수정</a>
                </div>
            </form>
        </div>
    </div>
    <!--// 비밀번호 수정 -->
</div>


{% endblock %}

{% block script %}
<script>
    $("#loginForm").validate({
        rules: {
            username: {
                required: true,
            },
            password: {
                required: true,
            },
        },
        messages: {
            username: {
                required: "필수 입력입니다.",
            },
            password: {
              required: "필수 입력입니다.",
            }
        },
        errorClass: "mt-2 text-danger",
        highlight: function(element) {
            $(element).addClass("is-invalid").removeClass("is-valid");
        },
        unhighlight: function(element) {
            $(element).addClass("is-valid").removeClass("is-invalid");
        },
        submitHandler: function (form) {
            form.submit();
        }  
    });
</script>
{% endblock %}