{% extends 'base.html' %}

{% block content %}

{% if error_message %}
<div class="alert alert-danger col-md-4" role="alert">{{ error_message }}</div>
{% endif %}

{% if success_message %}
<div class="alert alert-success col-md-4" role="alert">{{ success_message }}</div>
{% endif %}

<div class="card col-md-4">
    <div class="card-header">
        회원 가입
    </div>
    <form id="registerForm" action="{% url 'common:register' %}" method="post">
        {% csrf_token %}
        <div class="card-body">
            {{ form.as_div }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">회원 가입</button>
        </div>
    </form>
</div>

{% endblock %}

{% block script %}
<script>
    $("#registerForm").validate({
        rules: {
            username: {
                required: true,
                minlength: 5,
                maxlength: 20,
            },
            password: {
                required: true,
                minlength: 8,
                maxlength: 20,
            },
            first_name: {
                required: true,
                minlength: 2,
                maxlength: 4,
            },
            email: {
                required: true,
                email: true,
            },
        },
        messages: {
            username: {
                required: "필수 입력입니다.",
                minlength: jQuery.validator.format("5글자 이상, 20글자 이하로 입력해주세요."),
                maxlength: jQuery.validator.format("5글자 이상, 20글자 이하로 입력해주세요."),
            },
            password: {
                required: "필수 입력입니다.",
                minlength: jQuery.validator.format("8글자 이상, 20글자 이하로 입력해주세요."),
                maxlength: jQuery.validator.format("8글자 이상, 20글자 이하로 입력해주세요."),
            },
            first_name: {
                required: "필수 입력입니다.",
                minlength: jQuery.validator.format("2글자 이상, 4글자 이하로 입력해주세요."),
                maxlength: jQuery.validator.format("2글자 이상, 4글자 이하로 입력해주세요."),
            },
            email: {
                required: "필수 입력입니다.",
                email: "올바른 형식의 이메일을 입력하세요."
            }
        },
        errorClass: "mt-2 text-danger",
        highlight: function(element) {
            $(element).addClass("is-invalid").removeClass("is-valid");
        },
        unhighlight: function(element) {
            $(element).addClass("is-valid").removeClass("is-invalid");
        },
        submitHandler: function (form) {
            form.submit();
        }  
    });
</script>
{% endblock %}