{% extends 'base.html' %}

{% block content %}

{% if error_message %}
<div class="alert alert-danger col-md-4" role="alert">{{ error_message }}</div>
{% endif %}

{% if success_message %}
<div class="alert alert-success col-md-4" role="alert">
    <p>{{ success_message }}</p>
    <span>비밀번호: {{ new_password }}</span>
</div>
<a href="{% url 'common:login' %}" class="btn btn-primary">로그인</a>
{% else %}
<div class="card col-md-4">
    <div class="card-header">
        비밀번호 초기화
    </div>
    <form id="resetPasswordForm" action="{% url 'common:reset_password' %}" method="post">
        {% csrf_token %}
        <div class="card-body">
            {{ form.as_div }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">비밀번호 초기화</button>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script>
    $("#resetPasswordForm").validate({
        rules: {
            username: {
                required: true,
            },
            first_name: {
                required: true,
            },
            email: {
                required: true,
                email: true,
            },
        },
        messages: {
            username: {
                required: "필수 입력입니다.",
            },
            first_name: {
                required: "필수 입력입니다.",
            },
            email: {
                required: "필수 입력입니다.",
                email: "올바른 형식의 이메일을 입력하세요."
            }
        },
        errorClass: "mt-2 text-danger",
        highlight: function(element) {
            $(element).addClass("is-invalid").removeClass("is-valid");
        },
        unhighlight: function(element) {
            $(element).addClass("is-valid").removeClass("is-invalid");
        },
        submitHandler: function (form) {
            form.submit();
        }  
    });
</script>
{% endblock %}